body{
  font: 13px/20px;
  color:#404040;
  background: whitesmoke;
}
.container h4{
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 1px rgb(193, 236, 193);
  border-bottom: 1px solid green;
  border-radius: 3px 3px 0 0;
  background-color: green;

}
.container {
  position: relative;
  margin: 100px auto;
  padding:20px 20px 20px;
  width: 500px;
  background-color: white;
  border-radius: 3px;
}

  button[type="button"]{
    width: 40%;
    padding: 8px;
    background-color: green;
    padding: 10px 15px;
    text-align: center;
    float: right;
  }
  
  button{
    width:100%;
    padding:8px;
    background-color:green;
    color: white;
    padding: 10px 15px;
  }
  
  input{
    display: block;
    
  }
  
  input[type="checkbox"]{
    -webkit-appearance:checkbox;
      -mox-appearance: checkbox;
        appearance: checkbox;
    width: auto; 
    display: inline-block;
    padding-bottom: 20px;

  }
  
  span.psw{
    float: right;
    padding-top: 20px;
  }  






