<form #login="ngForm" (submit) ="onSubmit(login)">
  <label>
    Username:
    <input name="username" [(ngModel)]="username" required #username="ngModel" #ctrlTitle="ngModel" required> 
    <label *ngIf="ctrlTitle.invalid && (ctrlTitle.touched || ctrlTitle.dirty)" style="color: red"> <br>This field is mandatory</label> <br>
  </label>
  <label>
    Password:
    <input type="password" name="password" [(ngModel)]="password" required>
  </label> <br>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
  <span class="psw">Forgot <a href='#'> password?</a></span>
  <button type="Submit">Submit</button>
 
</form>

